.cekbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cekbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.ceklis {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

.cekbox:hover input ~ .ceklis {
	background-color: #ccc;
}

.cekbox input:checked ~ .ceklis {
	background-color: #2196F3;
}

.ceklis:after {
	content: "";
	position: absolute;
	display: none;
}

.cekbox input:checked ~ .ceklis:after {
	display: block;
}

.cekbox .ceklis:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.kata_persuasif {
	color: white;
}
.ketengahan_atuh {
	margin: auto;
}
.kahandap_saetik {
	margin-top: 8%;
}
.kahandap_saetik_pisan {
	margin-top: 5%;
}
.kahandap_saetik_deui {
	margin-top: 6%;
}
.kotak_gambar{
	width: 90%;
	padding-bottom: 50%;
	background: gray;
}
.kotak_gambar2{
	width: 90%;
	padding-bottom: 40%;
	background: gray;
}
.kolom_hiji{
	height: 665px; 
	background-color:#515151;
}
.kolom_dua{
	height: 400px; 
	background-color:#b8b8b8;
}
.kolom_tiga{
	height: 250px; 
	background-color:#ebe8e8;
}
.kolom_opat{
	height: 400px; 
	background-color:#0d9caf;
}
.kolom_akhir{
	height: 130px; 
	background-color:#4d4d4d;
}
biru{
	color: blue
}