.kata_persuasif {
	color: white;
}
.ketengahan_atuh {
	margin: auto;
}
.kahandap_saetik {
	margin-top: 8%;
}
.kahandap_saetik_pisan {
	margin-top: 5%;
}
.kotak_gambar{
	width: 90%;
	padding-bottom: 50%;
	background: gray;
}
.kotak_gambar2{
	width: 90%;
	padding-bottom: 40%;
	background: gray;
}
.kolom_hiji{
	height: 665px; 
	background-color:#515151;
}
.kolom_dua{
	height: 400px; 
	background-color:#b8b8b8;
}
.kolom_tiga{
	height: 250px; 
	background-color:#ebe8e8;
}
.kolom_opat{
	height: 350px; 
	background-color:#0d9caf;
}
biru{
	color: blue
}