.cekbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.judul_laporan {
	margin:  auto;
	text-align: center;
}
.cekbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.ceklis {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
.btn-primary {
    background-color: #fba321;
    }
.cekbox:hover input ~ .ceklis {
	background-color: #ccc;
}

.cekbox input:checked ~ .ceklis {
	background-color: #2196F3;
}

.ceklis:after {
	content: "";
	position: absolute;
	display: none;
}

.cekbox input:checked ~ .ceklis:after {
	display: block;
}

.cekbox .ceklis:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.kata_persuasif {
	color: white;
}
.ketengahan_atuh {
	margin: auto;
	height: 100%;
}
.ketengahan_atuh2 {
	margin: auto;
}
.kahandap_saetik {
	margin-top: 5%;
}
.kahandap_saetik_pisan {
	margin-top: 3.7%;
	margin-bottom: 2.5%;
}
.kahandap_saetik_deui {
	margin-top: 6%;
}
.kotak_gambar{
	width: 80%;
	margin-top:-40px;
	-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.kotak_gambar2{
	width: 100%;
    /* padding-bottom: 40%; */
    /* background: gray; */
    height: 100%;
}
#logopd{
    float: right;
    margin-bottom: 30px;
    padding-right: 4%;
    margin-top: 20px;
 }
.gambar_nempel{
	    width: 100%;
    position: absolute;
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.kolom_hiji{
	height: 100vh;
    background-color: #036caf;
 	background-image:url("/assets/l3.svg");
    background-attachment: fixed;
    background-size: cover;
}
.kolom_dua{
	background-color:#b8b8b8;
	background-image: url("/assets/l3-b.svg");
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    padding: 40px;
}
.kolom_tiga{
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebe8e8;
    padding-left: 4%;
    padding-right: 4%;
    visibility: hidden;
    display: none;
}
.kolom_opat{
	background-color:#0d9caf;
		background-image: url("/assets/l2.svg");
    background-attachment: fixed;
    background-size: cover;
    height: max-content;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 4%;
    padding-right: 4%;
}

.kolom_akhir{
	 height: max-content;
	background-color:#4d4d4d;
}

.kuning{
	color: #f4e53f;
    font-weight: bold;
}
.kuning:hover{
	color: #fff;
	}
.modal-title {
	font-size: 1.5rem;
}
.z_gambar{
    position: absolute;
    margin-top: -80px;
    }
    
.kata_persuasif  p{
    margin-right: 60px;
    }

.kata_persuasif  h1 {
	margin-right: 10px;
	}

/*Perbaiki responsif*/
@media only screen and (max-width: 1180px) {
    .z_gambar{
    margin-top: 5vh;}
}

@media only screen and (max-width: 920px) {    
	.z_gambar{
    margin-top: 30vh;}
 }
 
 @media only screen and (max-width: 991px) {    
    .kotak_gambar {
       width: 40%;
    margin-top: -20vh;
    float: right;
    }
    #logopd {
    margin-bottom: 60px;
    width: 20%;
    margin-top: 0px;
	}
	.kolom_opat{
    padding-top: 20px;
	}
}
@media only screen and (max-width: 675px) {    
	.z_gambar{
    margin-top: 40vh;}
 }