<%# bagian atas %>
<div class="container-fluid">
    <div class="row kolom_hiji">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 kahandap_saetik">
            <div class= "w-75 kata_persuasif ketengahan_atuh">
                <h1>Apakah <b>Kamu</b> Satu diantara Kami?</h1>
                <br>
                <p>
                    Pada suatu hari disuatu kota terdapat suatu tempat yang dinamakan
                    suatu tempat. Lalu tanpa sengaja suatu orang datang ke suatu tempat untuk
                    melakukan suatu aktifitas yang semua orang tidak mengetahui apa yang dimaksud
                    dengan suatu aktifitas.
                <p>
            </div>
        </div>
        <div class="col-lg-6 kahandap_saetik">
            <div class="ketengahan_atuh">
                <div class="kotak_gambar">
                </div>
            </div>
        </div>
    </div>
    <div class="row kolom_dua">
        <div class="col-lg-12">
            <div class="w-75 ketengahan_atuh">
                <div class="kotak_gambar2">
                </div>
            </div>
        </div>
    </div>
    <div class="row kolom_tiga">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Bambang</h4>
                    <p>
                        "Bagus.. Mantap.. Super.. debestlah pokoknya.."
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>Hartono</h4>
                    <p>
                        "Bagus.. Mantap.. Super.. debestlah pokoknya.."
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>Suep</h4>
                    <p>
                        "Bagus.. Mantap.. Super.. debestlah pokoknya.."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row kolom_opat">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 kahandap_saetik">
            <div class= "kata_persuasif ketengahan_atuh">
                <h1>Kami akan beri kamu <b>Solusi</b>!</h1>
                <br>
                <p>
                    Beritahu dulu masalah apa saja yang kamu alami disamping, kamu boleh memilih lebih dari satu masalah.
                <p>
            </div>
        </div>

        <div class="col-lg-6 kahandap_saetik">
            <div class="kata_persuasif">
                <div class="checkbox">
                    <label><input id="ms1" type="checkbox" onchange="bermasalah()"> Masalah? Apa itu?</label>
                </div>
                <div class="checkbox">
                    <label><input id="ms2" type="checkbox" onchange="bermasalah()"> Masalah adalah makananku sehari hari.. HUAHAHAHAHA</label>
                </div>
                <div class="checkbox">
                    <label><input id="ms3" type="checkbox" onchange="bermasalah()"> HAHAHAHAHAHAHAHAHAHAHAHAHA</label>
                </div>
                <div class="checkbox">
                    <label><input id="ms4" type="checkbox" onchange="bermasalah()"> HAHAHAHAHAHAHAHAHAHAHAHAHA</label>
                </div>
                <div class="checkbox">
                    <label><input id="ms5" type="checkbox" onchange="bermasalah()"> HAHAHAHAHAHAHAHAHAHAHAHAHA</label>
                </div>
                <br>
                <div class="button">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#kirim">Kirim</button>
                </div>
            </div>
        </div>
    </div>
</div>