<%# bagian atas %>
<div class="container-fluid">
    <div class="row kolom_hiji">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 kahandap_saetik_pisan">
            <div class= "w-75 kata_persuasif ketengahan_atuh2">
                 <div class="ketengahan_atuh">
                    <div class="kotak_gambar">
                    </div>
                </div>
                <br><br>
                <h1>Terimakasih atas Partisipasimu!</h1>
                <br>
                <p>
                    Kalau kamu ingin membantu kami lebih jauh kamu <a href="https://s.id/svdkv" title="Bantu lebih lanjut" rel="nofollow" target="_blank" class="kuning">bisa isi survey</a> masalah 
                    apa saja yang sering dialami kamu alami.
                </p>
                <p>
                    Kunjungi blog kami sambil kamu menunggu solusi dari kami!
                </p>
                    <a href="http://portaldekave.site/" title="www.portaldekave.site" target="_blank"><button type="button" class="btn btn-primary btn-lg">Buka Blog Portal Dekave</button></a>
            </div>
        </div>
        <div class="col-lg-4">
           
        </div>
    </div>
</div>