<%# bagian atas %>
<div class="container-fluid">
    <div class="row kolom_hiji">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 kahandap_saetik_pisan">
            <div class= "w-75 kata_persuasif ketengahan_atuh">
                 <div class="ketengahan_atuh">
                    <div class="kotak_gambar">
                    </div>
                </div>
                <br><br>
                <h1>Terimakasih atas Partisipasimu!</h1>
                <br>
                <p>
                    Kalau kamu ingin membantu kami lebih jauh kamu <biru>bisa email kami</biru> masalah 
                    apa saja yang sering dialami kamu para pelaku dunia kreatif, yaa..
                <p>
                <a href="http://127.0.0.1:3000" hidden></a>
            </div>
        </div>
        <div class="col-lg-4">
           
        </div>
    </div>
</div>
<script>
    window.setTimeout(function() {
        location.href = document.getElementsByTagName("a")[0].href;
    }, 3000);
</script>